@import "tailwindcss";

/* ✅ Google Font: Poppins only */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
       url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* ✅ Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ✅ Global Styles */
body {
  background: linear-gradient(180deg, rgba(255,255,255,0.28) 18%, rgba(252,220,84,0.24) 100%);
  /* color: var(--foreground); */
  font-family: 'Poppins';
}
